* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    display: flex;
    background-image: url("img/bckg/Konohagakure.jpg");
    background-size: cover;
}

.divisao {
    display: flex;
}

.titulo {
    padding-left: 20px;
    padding-right: 20px;
    width: 15%;
    font-family:'Segoe UI';
    background-color:rgba(25, 155, 230, 0.486);
}

.result01 {
    display: flex;
    height: 460px;
    width: 800px;
    background-color:rgba(255, 255, 255, 0.466);
}

.imagem {
    margin: 10px;
    width: 250px;
}

.divisao02 {
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Segoe UI';
    font-size: 20px;
}

.result02 {
    font-size: 30px;
    font-style: oblique;
    font-family: 'Segoe UI';
    height: 140px;
    background-color:rgba(255, 255, 255, 0.466);
}
 .datalist {
     margin-top: 20px;
     margin-bottom: 20px;
 }

.button {
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.divAlertErro{
    border: black;
    border-style: dotted;
    border-radius: 20px;
    background-color: red;
}

